<!--! DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"-->
<!--! DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"-->
<!--html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en-US"-->

<html lang="en-us" xmlns:ng="http://angularjs.org" ng-app>
<!--html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en-US"-->

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="">

  <meta name="description" content="Python Consulting - Flask/Django, Machine Learning, Keras, TensorFlow, Caffe, PyTorch, Scikit-Learn, Pandas, NumPy, SciPy, R, Spark, RabbitMQ, MongoDB, React.js">
  <title>Python Consulting - Flask/Django, Machine Learning, TensorFlow, Keras, Caffe, PyTorch, R</title>

  <!-- Bootstrap, shivS, font-awesome, animate -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <!--link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen"-->
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <!--[if lt IE 9]>
    <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
  <![endif]-->

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  <!--link href="/static/css/animate.css" rel="stylesheet" type="text/css" media="screen"-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
  <!--link href="/static/css/css.css" rel="stylesheet" type="text/css"-->

  <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet">

  <!-- ============ custom CSS  ============ -->
  <!--link href="/static/css/boot_dash.css" rel="stylesheet">
  <link href="/static/css/theme.css" rel="stylesheet"-->
  <!--[if lte IE 8]-->
  <!--link rel="stylesheet" href="/static/css/ace-ie.min.css" /-->
  <!--[endif]-->

  <link href="/static/css/swipebox.css" rel="stylesheet" type="text/css">
  <link href="/static/css/jquery.multiscroll.css" rel="stylesheet" type="text/css">
  <link href="/static/css/style_comingSoon2.css" rel="stylesheet" type="text/css">

  <style>
    .dark-overlay2 {
      background: #41465e;
      opacity: 0.3;
      position: absolute;
      left: 0px;
      top: 0px;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }
  </style>

</head>

<body class="comingSoon">
  <!--body style="overflow: hidden; height: 100%;"-->

  <div style="" class="globload">
    <div class="spinner animated fadeIn">

      <!-- LOGO -->
      <img src="/static/images/progress/loading_globe.gif" alt="" height="150" width="150">

      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
      <h6>LOADING</h6>

    </div>
  </div>
  <!-- ===== Loading ===== -->

  <div id="myContainer">

    <!-- SECTIONS LEFT START -->
    <div class="ms-left">
      <!--div style="width: 50%; position: absolute; height: 100%; left: 0px; top: 0px;"
        class="ms-left"-->

      <!-- 1ST SECTION LEFT START -->
      <div class="ms-section" id="left1">
        <div class="dark-overlay"></div>

        <div class="main-part-one">

          <div class="col-lg-12 col-md-12 col-xs-12">

            <!-- START COUNTDOWN -->
            <div id="countdown_dashboard" class="animated-quick fadeIn">
            </div>
            <!-- END COUNTDOWN -->

            <div style="margin-left:15px;margin-right:10px; margin-top:-50px">

              <h4 style="">Data Science + Big Data Programming Skills</h4>
              <span style="font-size:1.0em; font-weight:400;">
                • Python, Flask, Django, Go, Java <br>
                • React.js, Webpack, Node.js, Bootstrap, Javascript, jQuery<br>
                • Machine Learning and Statistical Analysis using Keras, TensorFlow, PyTorch, Pandas <br>
                  &nbsp;&nbsp; R, Matlab, SciKit, SciPy, NumPy; NLP using NLTK, BeautifulSoup, Scrapy<br>
                • 3-D Visualization using D3.js, Bokeh, Visjs, Plotly, WebGL<br>
                • Kafka, Spark, RabbitMQ, Celery, Redis, MongoDB, PostgresSql, MySql<br>
              </span><br>

              <h4 style="">Education</h4>
              <span style="font-size:1.0em; font-weight:400;">
                &nbsp; University Rene Descartes (Paris V) Paris, France<br>
                &nbsp; Masters, Applied Mathematics and Computer Science<br><br>

                &nbsp; INPG (Institut National Polytechnique de Grenoble), Grenoble, France<br>
                &nbsp; Masters, Cognitive Science (Specialization: Machine Learning)<br><br>

                &nbsp; New York University, NY, USA<br>
                &nbsp; B.S. Physics<br>
              </span>
            </div>
          </div>

        </div>  <!-- main part one -->
      </div>
      <!-- 1ST SECTION LEFT END-->

      <!-- 2ND SECTION LEFT START -->
      <div class="ms-section" id="left2">
        <!--div data-anchor="second" style="background-color: rgb(241, 231, 192); height: 100%;"
        class="ms-section ms-table" id="left2"-->
        <!-- ? div class="ms-tableCell" style="height: 753px"-->

        <div class="dark-overlay"></div>

        <div class="main-part-one">

          <!-- START ABOUT SECTION -->
          <section class="about-section">

              <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">

                <h2>My philosophy</h2>

                <div style="font-size: 16px !important">
                  <p><strong>Advantage </strong> through <span style="font-weight:600">Data Science</span> that gives <em>insight</em> into data using machine learning and statistics via Keras, TensorFlow, PyTorch, Caffe, R, Matlab, Pandas, Scikit-Learn, NumPy, SciPy
                  </p>
                  <br>
                  <p><strong>Frontend - on the exterior</strong> awesome UX and beautiful <span style="font-weight:600">2-D</span> and <span style="font-weight:600">3-D</span> graphs using best-of-breed tools D3.js, WebGL, Bokeh, Visjs, Plotly, React.js, Webpack, Node.js, Bootstrap,
                    Javascript, jQuery
                  </p>
                  <br>
                  <p><strong>Backend - under the hood,</strong> technology stack includes Python, Flask/Django, Spark, Kafka, RabbitMQ, MongoDB, PostgreSQL, Java libraries, all designed with intelligent, scalable architecture throughout
                  </p>

                  <!--
                    <ul>
                        <li>
                            <a href=""><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fa fa-pinterest"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fa fa-dribbble"></i></a>
                        </li>
                    </ul>
                    -->
                </div>
              </div>

            </section>

        </div>
      </div>
      <!-- 2ND SECTION LEFT END -->

      <!-- 3RD SECTION LEFT START -->
      <div class="ms-section" id="left3">
        <!--div data-anchor="third" style="background-color: rgb(123, 170, 190); height: 100%;"
        class="ms-section ms-table" id="left3"-->
        <!-- ? div class="ms-tableCell" style="height: 753px" -->
        <div class="dark-overlay"></div>

        <div id="principal-carousel">

          <div class="col-md-12 col-xs-12 col-xs-offset-0">

            <div class="carousel slide" id="myCarousel">

              <!-- INDICATORS -->
              <ol class="carousel-indicators">
                <li data-slide-to="0" data-target="#myCarousel"></li>
                <li data-slide-to="1" data-target="#myCarousel"></li>
                <li data-slide-to="2" data-target="#myCarousel"></li>
              </ol>

              <!-- SLIDER WRAPPER -->
              <div class="carousel-inner">

                <!-- 0/3 SLIDE -->
                <div class="item active">
                  <div class="row text-box">
                    <div class="col-md-12">
                      <!--a href="/static/images/slide-1.jpg" class="swipebox" title="Picture 1"-->
                      <img src="/static/images/slide-1.jpg" alt="" class="img-responsive" height="540" width="960">
                      <!--/a-->
                    </div>
                  </div>
                </div>

                <!-- 1/3 SLIDE -->
                <div class="item">
                  <div class="row text-box">
                    <div class="col-md-12">
                      <img src="/static/images/slide-2.jpg" alt="" class="img-responsive" height="540" width="960">
                    </div>
                  </div>
                </div>

                <!-- 2/3 SLIDE -->
                <div class="item">
                  <div class="row text-box">
                    <div class="col-md-12">
                      <img src="/static/images/slide-3.jpg" alt="" class="img-responsive" height="540" width="960">
                    </div>
                  </div>
                </div>

              </div>

              <!-- ARROWS NAVIGATION -->
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
              </a>

            </div>

          </div>
        </div>


          <!-- START CONTACT FORM SECTION -->
          <!--
          <div class="main-part-one">
          <div id="contact-part">
            <section id="contact-form" class="contact-section">
                <div class="col-md-8 col-md-offset-2">
                    <h2>Get in touch</h2>
                    <h4>Submit an idea, a tip or simply say hello</h4>
                </div>

                <div class="col-md-10 col-md-offset-1">

                    <form role="form" id="formcontactus" class="contactForm" method="post" action="assets/php/contact_me.php">

                        <div class="col-lg-6 col-xs-6">
                            <div class="form-group">
                                <input class="form form-control requiretop" placeholder="Full name" name="name" type="text">
                            </div>
                        </div>

                        <div class="col-lg-6 col-xs-6">
                            <div class="form-group">
                                <input class="form form-control email requiretop" placeholder="Email" name="email" type="email">
                            </div>
                        </div>

                        <div class="col-lg-12 col-xs-12">
                            <div class="form-group">
                                <input class="form form-control requiretop" placeholder="Subject" name="subject" type="text">
                            </div>
                        </div>

                        <div class="col-lg-12 col-xs-12">
                            <div class="form-group">
                                <textarea rows="3" class="form textarea form-control requiretop" placeholder="Message" name="message"></textarea>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-large specsend">Send my message</button>
                    </form>
                </div>
            </section>
          </div>
        </div>
        -->
        <!-- END CONTACT FORM SECTION -->

      </div>
      <!-- 3RD SECTION LEFT END -->

    </div>
    <!-- SECTIONS LEFT END -->

    <!-- SECTIONS RIGHT START -->
    <div class="ms-right">

      <!-- 1st SECTION RIGHT END -->
      <div class="ms-section" id="right1">
        <div class="dark-overlay dark-overlay2"></div>

        <!--div data-anchor="first" style="background-color: rgb(43, 45, 53); height: 100%;"
           class="ms-section ms-table active" id="right1"-->

        <div class="col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0">

          <div style="margin-left:-50px; margin-right:0px !important; margin-top:-20px;padding-right:0px !important">
            <h4>Latest Projects</h4>
            <span style="font-size:0.95em; font-weight:400; color: rgb(245, 250, 216);">
                <span style="font-size:0.95em; font-weight:600;">Rivercast</span> Lead developer of Python, Flask/Django application for statistical trading system for new hedge fund. Trade processing module implemented in Python, Flask, Django,
            Flask-Restful. Legacy Java application migrated into API. Middleware using RabbitMQ, Redis queues. Spark, Mlib Streaming, MongoDB for real-time analysis of tick prices and unstructured data from screen scraping content extraction for news
            clips and financial blogs using NLTK, Scrapy. MySQL for trade data. Data analysis using Python modules SciPy, NumPy, Matplotlib, Scikit, and R via Rserve.
            <br><br>
            <span style="font-size:0.95em; font-weight:600;">Soliant Consulting for Apple</span> Project for client Apple to analyze battery data. Python back-end and RabbitMQ task queues. MongoDB with aggregated data automatically imported to PostgreSQL.
            Statistical analysis in Python. Extensive data visualization using D3.js
            <br><br>
            <span style="font-size:0.95em; font-weight:600;">S&P</span> Devised statistical model to predict credit ratings. Coding in R and Python for logistical regression model for bankruptcy rates of companies.
            <br><br>
            <span style="font-size:0.95em; font-weight:600;">Organic</span> Project for media agency to develop iPad application Broadfeed, a real-time twitter feed reading application, like Flipboard. Application stack consisted of iOS front-end, Python,
            Pylons, Node.js, Twitter API, Javascript, MongoDB.
            <br><br>
            <span style="font-size:0.95em; font-weight:600;">Neuroscience and Brain Imaging Laboratory, CNRS</span> Researcher as part of Masters program thesis, development of temporal series models in Python, SciPy, NumPy, R/S+. Bayesian time series
            modeling of brain signals using Kalman filter and stochastic Hidden Markov Process. Brain imaging visualization in WebGL
            </span>
          </div>
        </div>
      </div>
      <!-- 1st SECTION RIGHT END -->

      <!-- 2nd SECTION RIGHT START -->
      <div class="ms-section" id="right2">
        <!-- div data-anchor="second" style="background-color: rgb(241, 231, 192); height: 100%;"
        class="ms-section ms-table" id="right2"-->
        <div id="principal-carousel">

          <div class="col-md-12 col-xs-12 col-xs-offset-0">

            <div class="carousel slide" id="myCarousel">

              <!-- INDICATORS -->
              <ol class="carousel-indicators">
                <li data-slide-to="0" data-target="#myCarousel" class="active"></li>
                <li data-slide-to="1" data-target="#myCarousel"></li>
                <li data-slide-to="2" data-target="#myCarousel"></li>
                <li data-slide-to="3" data-target="#myCarousel"></li>
              </ol>

              <!-- SLIDER WRAPPER -->
              <div class="carousel-inner">

                <!-- 0: 1/5 SLIDE -->
                <div class="item active">
                  <div class="row text-box">
                    <div class="col-xs-12">
                      <!--a href="/static/images/slide-1.jpg" class="swipebox" title="Picture 1"-->

                      <img src="/static/images/chart_threed_liel_5.png" alt="" class="img-responsive" >

                      <!--/a-->
                    </div>
                  </div>
                </div>

                <!-- 2/5 SLIDE -->
                <div class="item">
                  <div class="row text-box">
                    <div class="col-md-12">
                      <!--a href="/static/images/slide-1.jpg" class="swipebox" title="Picture 1"-->
                      <img src="/static/images/logo/quantcypher.png" alt="" class="img-responsive" >
                      <!--/a-->
                    </div>
                  </div>
                </div>

                <!-- 3/5 SLIDE -->
                <div class="item">
                  <div class="row text-box">
                    <div class="col-md-12">
                      <!--a href="/static/images/slide-1.jpg" class="swipebox" title="Picture 1"-->
                      <img src="/static/images/chart_threed_volatility.png" alt="" class="img-responsive" height="540" width="960">
                      <!--/a-->
                    </div>
                  </div>
                </div>

                <!-- 4/5 SLIDE -->
                <div class="item">
                  <div class="row text-box">
                    <div class="col-md-12">
                      <img src="/static/images/logo/rivercast2.png" alt="" class="img-responsive" height="540" width="960">
                    </div>
                  </div>
                </div>

                <!-- 5/5 SLIDE -->
                <div class="item">
                    <div class="row text-box">
                        <div class="col-md-12">
                          <img src="/static/images/chart_threed_rolling_regression0.png" alt="" class="img-responsive" height="540" width="960">
                        </div>
                    </div>
                </div>

                <!--
                <div class="item">
                    <div class="row text-box">
                        <div class="col-md-12">
                            <a href="/static/images/chart_threed_rolling_regression0.png" class="swipebox" title="Picture 4" >
                              <img src="http://placehold.it/1920x1080/88B7B3/f1e7c0" alt="" class="img-responsive" height="540" width="960"/>
                            </a>
                        </div>
                    </div>
                </div>
                -->

              </div>

              <!-- ARROWS NAVIGATION -->
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
              </a>

            </div>

          </div>
        </div>
      </div>
      <!-- 2nd SECTION RIGHT END -->

      <!-- 3rd SECTION RIGHT START -->
      <div class="ms-section" id="right3">
        <!--div style="width: 50%; position: absolute; height: 100%; right: 1px; top: -1506px;"
          class="ms-right"-->
        <!--div data-anchor="third" style="background-color: rgb(123, 170, 190); height: 100%;"
          class="ms-section ms-table" id="right3"-->
        <!--div class="ms-tableCell" style="height: 753px"-->

        <!-- START INFORMATIONS SECTION -->
        <div id="informations-contact">
          <h2>I am available 7/7
            <br>(yes programmaholic)
          </h2>
          <h3>00:00 - 12:30 / 12:31 - 23:59</h3>

          <span class="border"></span>

          <div class="col-md-offset-1 col-md-10">

            <div class="col-sm-4 col-xs-4">

              <!-- LOCATE US -->
              <h4>
                      <a id="map-location">
                          <i class="fa fa-fw fa-map-marker fa-2x"></i>
                          <br>
                          Either side of pond
                      </a>
                  </h4>

            </div>

            <div class="col-sm-4 col-xs-4">

              <!-- CALL US -->
              <h4>
                      <a href="tel:+3336568547">
                          <i class="fa fa-fw fa-phone fa-2x"></i>
                          <br>
                          Skype: <br>daniel.schoe
                      </a>
                  </h4>

            </div>

            <div class="col-sm-4 col-xs-4">

              <!-- EMAIL US -->
              <h4>
                      <a href="mailto:daniel@quantcypher.com.com">&nbsp;&nbsp;&nbsp;
                          <i class="fa fa-fw fa-envelope-o fa-2x"></i>
                          <div style="padding-top:10px">
                          daniel@quantcypher.com.com
                        </div>
                      </a>
                  </h4>

            </div>

          </div>

        </div>
        <!-- END INFORMATIONS SECTION -->


      </div>
      <!-- 3rd SECTION RIGHT END -->

    </div>
    <!-- END ms-right -->

  </div>
  <!-- END myContainer -->

  <!-- =========================================================================
                                       JS
       =========================================================================
  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js" type="text/javascript"></script>

  <script>
    window.jQuery || document.write('<script src="/static/js/jquery.min.js"><\/script>')
  </script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <!--script src="/static/js/bootstrap.min.js" type="text/javascript" ></script-->
  <!--script type="text/javascript"></script> if(typeof($.fn.modal) === 'undefined') {document.write('<script src="/static/js/bootstrap.min.js" type="text/javascript"><\/script>')}</script-->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <!--script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript" ></script-->
  <!--script src="/static/js/jquery-ui-1.11.1.js" type="text/javascript"></script-->
  <!--script src="https://cdn.jquerytools.org/1.2.7/all/jquery.tools.min.js" type="text/javascript"></script-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

  <!-- custom -->
  <!--script src="comingSoon_splitted_files/analytics.js" async=""></script-->
  <script type="text/javascript" src="/static/js/jquery.multiscroll.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.lwtCountdown-1.0.js"></script>
  <script type="text/javascript" src="/static/js/comingSoon.js"></script>
  <script type="text/javascript" src="/static/js/modernizr.custom.js"></script>
  <script type="text/javascript" src="/static/js/jquery.swipebox.js"></script>
  <script type="text/javascript" src="/static/js/contact_me.js"></script>
  <script type="text/javascript" src="/static/js/notifyMe.js"></script>
  <script type="text/javascript" src="/static/js/jquery.placeholder.js"></script>
  <script>
    ;
    (function($) {
      "use strict";

      $('.swipebox').swipebox();

      function scrollMe() {
        $.fn.multiscroll.moveSectionDown();
      }
      setInterval(scrollMe, 20000);


      /*  ex fr another library
      $.fn.fullpage({
        slidesColor: ['red', 'blue'],
        afterLoad: function (anchor, index) {
            setTimeout(function(){
               $.fn.fullpage.moveSectionDown();
            }, 1000);
        },
        afterRender: function(){
            setTimeout(function(){
               $.fn.fullpage.moveSectionDown();
            }, 1000);
        }
      });
      */

      /*
      $('#multiscroll').multiscroll({
          anchors: ['firstPage', 'secondPage', 'thirdPage', 'fourthPage', 'lastPage'],

          afterLoad: function(anchorLink, index){
              //using index
              if(index == '3'){
                  alert("Section 3 ended loading");
              }

              //using anchorLink
              if(anchorLink == 'secondSection'){
                  alert("Section 2 ended loading");
              }
          }
      });
      */
    })(jQuery);
  </script>

  <script>
    jQuery(document).ready(function() {
      "use strict";
      $("#notifyMe").notifyMe();
    });
  </script>

  <script>
    //Used for the placeholder on IE9
    $('input, textarea').placeholder();
  </script>

  <script>
    /*
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-12345-1', 'theurl.com);
          ga('send', 'pageview');
        */
  </script>

  <!--
<div class="right" style="color: rgb(0, 0, 0);" id="multiscroll-nav">
  <ul><li data-tooltip="Welcome"><a class="active" href="#first">
    <span></span></a>
    </li><li data-tooltip="About"><a href="#second"><span></span></a></li>
    <li data-tooltip="Contact"><a href="#third"><span></span></a></li></ul>
</div>
-->

</body>

</html>
