<!-- =========================================================================
       TOP BAR + NAV BAR
     =========================================================================
-->
<!-- TOP BAR -->
<div class="top-bar-light hidden-xs">
  <div class="container">
    <div class="row">
      <!--
      <div class="col-sm-5 hidden-xs">
        <div class="top-bar-socials">
            <a href="#" class="social-icon-sm si-gray si-gray-round si-facebook">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-facebook"></i>
            </a>
            <a href="#" class="social-icon-sm si-gray si-gray-round si-twitter">
                <i class="fa fa-twitter"></i>
                <i class="fa fa-twitter"></i>
            </a>
            <a href="#" class="social-icon-sm si-gray si-gray-round si-g-plus">
                <i class="fa fa-google-plus"></i>
                <i class="fa fa-facebook"></i>
            </a>
            <a href="#" class="social-icon-sm si-gray si-gray-round si-g-plus">
                <i class="fa fa-youtube"></i>
                <i class="fa fa-youtube"></i>
            </a>
            <a href="#" class="social-icon-sm si-gray si-gray-round si-instagram">
                <i class="fa fa-instagram"></i>
                <i class="fa fa-instagram"></i>
            </a>
        </div>
      </div>
      -->

      <!--
      <div class="col-xs-6 text-left" style="padding-left:0px !important; margin-left:0px !important">
        <ul class="list-inline top-dark-right">
          <li>Other sites I work at: &nbsp;&nbsp; <a href="#">KikLearn.com</a></li>
          <li><a href="#" style="color: #605e5e;"
            onmouseover="this.style.color='#32c5d2'" onmouseout="this.style.color='#605e5e'">MindForevr.com</a></li>
          <li>&nbsp;</li>
        </ul>
      </div>
      -->

      <div class="col-xs-12 text-right">
          <ul class="list-inline top-dark-right">
              <li><i class="fa fa-envelope"></i>daniel@quantcypher.com.com</li>
              <!--
              <li><a href="#"><i class="fa fa-lock"></i> Login</a></li>
              -->
              <li><a href="mailto:daniel@quantcypher.com.com"><i class="fa fa-user"></i>Contact Me</a></li>
              <!--
              <li><a class="topbar-icons" href="#"><span><i class="fa fa-search top-search"></i></span></a></li>
              -->
          </ul>
          <!--
          <div class="search">
              <form role="form">
                  <input class="form-control" autocomplete="off" placeholder="Write something and press enter" type="text">
                  <span class="search-close"><i class="fa fa-times"></i></span>
              </form>
          </div>
          -->
      </div>

    </div>
  </div>
</div><!--top-bar end here-->

<!--NAV BAR -->
<div class="sticky-wrapper is-sticky" id="undefined-sticky-wrapper">
  <div class="navbar navbar-default navbar-static-top yamm sticky" role="navigation"
    style="background: rgba(232, 234, 236, 0.60);">

    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/laplacian" style="padding-top:0.32em !important; ">
          <span style="font-size:0.55em; font-weight:550; text-transform:none;" >
          Daniel Cho
          </span>
        </a>

      </div>
      <div style="max-height: 224px;" class="navbar-collapse collapse" id="nav_menu">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/laplacian" style="font-weight:500;">Home</a>
          </li>
          <li class="dropdown menumain">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-weight:500;">Projects<i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
              <li><a href="//quantcypher.com/datascience" class="mainmenu">Data Science</a></li>
              <li><a href="/laplacian/tradeapp" class="mainmenu">Quant</a></li>
              <!--li><a href="#c" class="mainmenu">Apple</a></li-->
              <li><a href="/laplacian/d3_line_histogram_dynamic" class="mainmenu">Apple</a></li>
            </ul>
          </li>
          <li>
            <a href="/laplacian/aboutme" style="font-weight:500;">About Me</a>
          </li>
        </ul>
      </div><!--/.nav-collapse -->

    </div><!--container-->
  </div>
</div><!--navbar-default-->

<!--
<div class="breadcrumb-wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h4>Search results</h4>
            </div>
            <div class="col-sm-6 hidden-xs text-right">
                <ol class="breadcrumb">
                    <li><a href="#">Data Science</a></li>
                    <li>Search Results</li>
                </ol>
            </div>
        </div>
    </div>
</div>
-->
