<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="Python Consulting - Flask/Django, Machine Learning Scikit-Learn, Pandas, NumPy, SciPy, R, Spark, RabbitMQ, MongoDB, React.js">
  <title>Python Consulting - Flask/Django, Machine Learning, R, Spark, MongoDB, React.js</title>

  <!-- Bootstrap, font-awesome-->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <!--link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"-->
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <!--[if lt IE 9]>
    <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
  <![endif]-->

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  <link href="/static/css/pe-icon-7-stroke.css" rel="stylesheet" type="text/css" media="screen">
  <!-- flex slider css -->
  <link href="/static/css/flexslider.css" rel="stylesheet" type="text/css" media="screen">
  <!-- animated css  -->
  <link href="/static/css/animate.css" rel="stylesheet" type="text/css" media="screen">
  <!-- Revolution Style-sheet -->
  <link href="/static/css/settings.css" rel="stylesheet" type="text/css" >
  <link href="/static/css/rev-style.css" rel="stylesheet" type="text/css" >
  <!--owl carousel css-->
  <link href="/static/css/owl_002.css" rel="stylesheet" type="text/css" media="screen">
  <link href="/static/css/owl.css" rel="stylesheet" type="text/css" media="screen">
  <!--mega menu -->
  <link href="/static/css/yamm.css" rel="stylesheet" type="text/css">
  <!--cube css-->
  <link href="/static/css/cubeportfolio.css" rel="stylesheet" type="text/css">

  <link href="/static/css/magnific-popup.css" rel="stylesheet" type="text/css">

  <link href="/static/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
  <link href="/static/css/jquery-ui.theme.min.css" rel="stylesheet" type="text/css">

  <!-- CSS - SAN STYLE  -->
  <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="screen">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- CSS for SITE  -->
  <link href="/static/css/style_laplacian.css" rel="stylesheet" type="text/css" media="screen">
  <style>
    .container::-webkit-scrollbar {
      width: 0px !important ;  /* remove scrollbar space */
      background: transparent;  /* optional: just make scrollbar invisible */
      /* display: none; */
    }
    .container {
      -ms-overflow-style: none;  /* IE 10+ */
      /* overflow: -moz-scrollbars-none;  Firefox */
    }
    html, body{
      height:100%;
      overflow-x: hidden
      margin-right: 0;
      padding-right: 0;
    }
  </style>

  <!-- CSS - for this template  -->
  <style>

  </style>

</head>

<body>

  {% include 'navtopbar_laplacian.html' %}

  <div class="divide40"></div>

  <!-- =========================================================================
       MAIN CONTAINER
       - everything below navbar incl left and right sidebars
       =========================================================================
  -->
  <div class="container" style="height:100%; width:100%; overflow-y:visible; overflow-x:hidden; display:block">
    <!--div class="row"-->

      <!-- ==================================
           LEFT SIDEBAR col-xs-2
           ================================== -->
      {% include 'sidebar_left_laplacian.html' %}

      <!-- ==================================
           col 2/3: MAIN CONTENT - middle
           ================================== -->
      <div class="col-xs-9" id="main_col" style="overflow-y:visible; overflow-x:hidden; height:100%; padding-left:30px; display:block;">

        <!--div class="category_online" style="border-left: thick solid #0000A0; "-->

        <!--
        <div style="background: #d5deed">
          <p style="margin-bottom: -2px; margin-left: 20px; font-size: 1.2em;">Proprietary statistical analysis application for trading derivatives includes NLP </p>
          <p style="margin-bottom: -2px; margin-left: 20px; font-size: 1.2em;">for custom language, Machine Learning using Deep Learning and Statistical Analysis</p>
          <p style="margin-bottom: -2px; margin-left: 20px; font-size: 1.2em;">This app's stack comprises Python, Java, RabbitMQ, MongoDB,</p>
          <p style="margin-bottom: 40px; margin-left: 20px; font-size: 1.2em;">Keras, TensorFlow, Pandas, NumPy, SciPy, Matplotlib, and D3.js</p>
        </div>
        -->
        <!--div id="container_main_middle" style="overflow-y:auto; overflow-x:hidden; height:100vh; width:100vh;"-->
          <!--
                MAIN CONTENT HERE !
          -->

          <!--img src="/static/images/logo/rivercast2.png" alt="" class="img-responsive" height="540" width="960"-->
          <!-- onload="resizeIframe(this)" id="iframe" class="iframe" display:inline-block -->
          <iframe src="//www.visuably.com/_stream-model-training/" id="iframe" class="iframe"
           style="border:none; overflow-y:scroll; overflow-x:hidden; height:100%; padding-right:30px; display:inline-block"></iframe>

          <!-- MAIN CONTENT END -->
        <!--/div-->

      </div>  <!-- end col-xs-7 middle -->

      <!-- ==================================
           RIGHT SIDEBAR col-xs-2
           {   % include 'sidebar_right_laplacian.html' %   }
           ================================== -->


    <!--/div-->  <!-- end row -->

  </div>  <!--search results container end-->


  <!-- =========================================================================
                                       JS
       =========================================================================
  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js" type="text/javascript"></script>
  <script>window.jQuery || document.write('<script src="/static/js/jquery.min.js"><\/script>')</script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script-->

  <script>
    $(function(){
      //$('iframe').load(function() {
        //console.log(window.innerWidth);
        iframe_width = parseInt($(window).width()*9/12) + 10;

        var iframe = document.getElementsByTagName("iframe")[0];
        var main_col = document.getElementById('main_col');
        //console.log(iframe);
        //console.log(main_col);

        //iframe.style.height = h + "px";
        iframe.style.width = iframe_width + "px";
        //main_col.width = iframe_width + "px";
      //});
    });

    /*
    function resizeIframe(obj) {
      obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }
    */

    /*

    $('iframe').load(function() {

      setInterval(function(){
      setTimeout(function(){
        $('#frame').height($('#iframe').get(0).contentWindow.document.body.offsetHeight + 'px');
      }, 3000);

    });

    */
    /*
    $(function(){

      var iFrames = $('iframe');

    	function iResize() {

    		for (var i = 0, j = iFrames.length; i < j; i++) {
    		  iFrames[i].style.height = iFrames[i].contentWindow.document.body.offsetHeight + 'px';}
    	    }

        	if ($.browser.safari || $.browser.opera) {

        	   iFrames.load(function(){
        	       setTimeout(iResize, 0);
               });

        	   for (var i = 0, j = iFrames.length; i < j; i++) {
        			var iSource = iFrames[i].src;
        			iFrames[i].src = '';
        			iFrames[i].src = iSource;
               }

        	} else {
        	   iFrames.load(function() {
        	       this.style.height = this.contentWindow.document.body.offsetHeight + 'px';
        	   });
        	}

    });
    */
  </script>

  <!--sticky header-->
  <script src="/static/js/jquery.sticky.js" type="text/javascript" ></script>
  <!--digit countdown plugin-->
  <script src="/static/js/waypoints.js"></script>
  <!--on scroll animation-->
  <script src="/static/js/wow.js" type="text/javascript"></script>
  <!--popup js-->
  <script src="/static/js/jquery.magnific-popup.min.js" type="text/javascript"></script>

  <!--easing plugin for smooth scroll-->
  <!--script src="/static/js/jquery_008.js" type="text/javascript"></script-->
  <script src="/static/js/jquery-ui.min.js" type="text/javascript"></script>

  <!--customizable plugin edit according to your needs-->
  <script src="/static/js/custom.js" type="text/javascript"></script>

  <script src="/static/js/pace.js" type="text/javascript"></script>

  <script src="/static/js/jCollapsible.js" type="text/javascript" ></script>

  <script src="/static/js/jquery.color.js" type="text/javascript"></script>
  <script src="/static/js/jquery-glowing.js" type="text/javascript"></script>

  <script src="/static/js/utils.js" type="text/javascript"></script>

  <!-- D3 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.14/d3.min.js"></script>
  <!--script src="http://d3js.org/d3.v3.min.js" type="text/javascript" charset="utf-8"></script-->
  <!--script src="/static/js/d3.min.js" type="text/javascript"></script-->
  <script src="http://d3js.org/d3.geo.projection.v0.min.js" type="text/javascript" charset="utf-8"></script>
  <!--script src="http://d3js.org/topojson.v1.min.js"></script-->
  <script src="http://d3js.org/topojson.v0.min.js" type="text/javascript" charset="utf-8"></script>
  <!--script src="/static/js/topojson.js"></script-->
  <!--script src="http://d3js.org/d3.geo.tile.v0.min.js"-->

  <!-- JS for THIS SPECIFIC TEMPLATE -->
  <!--script src="/static/js/geo_sat_tiles.js" type="text/javascript"></script-->

  <!-- JS for THIS SITE -->
  <script src="/static/js/site_laplacian.js" type="text/javascript"></script>


</body>
</html>
