<!DOCTYPE html>
<html>

<head>
  {% include 'index_laplacian_head.html' %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet">
</head>

<body>

  {% include 'navtopbar_laplacian.html' %}

  <div class="divide40"></div>

  <!-- ========================== MAIN CONTAINER =========================== -->

  <div class="container" style="overflow-x: hidden">
    <div class="row">

      <!-- ==================================
           LEFT SIDEBAR col-xs-2
           ================================== -->
      {% include 'sidebar_left_laplacian.html' %}

      <!-- ==================================
           col 2/3: MAIN CONTENT - middle
           ================================== -->
      <div class="col-xs-7">

        <!--div class="category_online" style="border-left: thick solid #0000A0; "-->
        <div id="container_main_middle">
          <!--
                MAIN CONTENT HERE !
          <div id="content_main" ></div>
          -->

          <div id="mygraph" style="margin-bottom:40px"></div>

          <!-- MAIN CONTENT END -->
        </div>

      </div>  <!-- end col-xs-7 middle -->

      <!-- ==================================
           RIGHT SIDEBAR col-xs-2
           ================================== -->
      {% include 'sidebar_right_laplacian.html' %}

    </div>  <!-- end row -->
  </div>  <!--end container -->

  <!--============================= JS scripts ==============================-->
  
  {% include 'index_laplacian_tail.html' %}

  <!-- script for this template -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
  <!--script src="/static/js/vis.js"></script-->

  <!-- script for this template -->
  <script>

  </script>
  <script type="text/javascript">
      drawVisualization();

      var data = null;
      var graph = null;

      function custom(x, y, t) {
        return Math.sin(x/50 + t/10) * Math.cos(y/50 + t/10) * 50 + 50;
      }

      // Called when the Visualization API is loaded.
      function drawVisualization() {
        // Create and populate a data table.
        data = new vis.DataSet();
        // create some nice looking data with sin/cos
        var steps = 25;
        var axisMax = 314;
        var tMax = 31;
        var axisStep = axisMax / steps;
        for (var t = 0; t < tMax; t++) {
          for (var x = 0; x < axisMax; x+=axisStep) {
            for (var y = 0; y < axisMax; y+=axisStep) {
              var value = custom(x, y, t);
              data.add([
                {x:x,y:y,z:value,filter:t,style:value}
              ]);
            }
          }
        }

        // specify options
        var options = {
          width:  '600px',
          height: '700px',
          style: 'surface',
          showPerspective: true,
          showGrid: true,
          showShadow: false,
          // showAnimationControls: false,
          keepAspectRatio: true,
          verticalRatio: 0.5,
          animationInterval: 100, // milliseconds
          animationPreload: true
        };

        // create our graph
        var container = document.getElementById('mygraph');
        graph = new vis.Graph3d(container, data, options);
      }
  </script>

</body>
</html>
