<!DOCTYPE html>
<!--!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"-->
<!--!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"-->

<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en-US">

<head>
  <meta charset="UTF-8">
  <!--meta http-equiv="content-type" content="text/html; charset=UTF-8"-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- The above 3 meta tags *must* come first in the head -
       any other head content must come *after* these tags -->
  
  <meta name="description" content="">
  
  <title></title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <!--link href="/static/css/bootstrap.min.css" rel="stylesheet"-->
  <!--link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet"-->

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
  <!--link href="/static/css/font-awesome.css" rel="stylesheet" /-->

  <!--link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/base/jquery-ui.css" rel="stylesheet" /-->
  <!--link href="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css" type="text/css" rel="stylesheet" /-->
  <!--link href="/static/js/jquery-ui-1.10.3.css" rel="stylesheet" /-->

  <style>
    div.ex {
      margin-bottom: 30px;
      /* padding: 15px 15px 0px 15px; */
      padding: 15px 15px 0px;
    }
  </style>

</head>


<body>
  
  <div id="container_main" style="">
    <div id="graph_0_0" style="float:left;
      width: 320px; height: 270px; margin: 0 auto">
      
    <div style="margin-bottom: 30px"></div>
  </div>
  
  
  <!--=============== JS scripts ===============-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" type="text/javascript"></script>
  <script>window.jQuery || document.write('<script src="/static/js/jquery.min.js"><\/script>')</script>

  <!--script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script-->
  <!--script src="/static/js/jquery-ui-1.10.3.js" type="text/javascript" ></script-->
  <!--script src="/static/js/jquery.tools.min.js" type="text/javascript" ></script-->
  <!--script src="/static/jquery.ui.timepicker.js" type="text/javascript"></script-->

  <!-- Angular
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
  -->
  
  <!-- react -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
  <!--script src="http://fb.me/react-0.12.1.min.js"></script-->
  <!--script src="http://fb.me/react-0.12.1.js"></script-->
  <!--script src="http://fb.me/react-with-addons-0.12.0.js"></script-->
  <!--script src="http://fb.me/JSXTransformer-0.12.1.js"></script-->
  <!--script src="/static/js/react-0.12.0.min.js"></script>
  <script src="/static/js/JSXTransformer-0.12.0.js"></script-->

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!--script src="/static/js/bootstrap.min.js" type="text/javascript"></script-->
  <!--script> if(typeof($.fn.modal) === 'undefined') {document.write('<script src="/static/js/bootstrap.min.js"><\/script>')}</script-->
  
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.min.js" type="text/javascript" charset="utf-8"></script>
  <!--script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js" type="text/javascript" charset="utf-8"></script-->
  <!--script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/eu.js" type="text/javascript" charset="utf-8"></script-->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.4.0/moment-timezone-with-data.min.js" type="text/javascript" charset="utf-8"></script>
  <!--script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.4.0/moment-timezone-utils.min.js" type="text/javascript" charset="utf-8"></script-->
  <!--script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.4.0/moment-timezone-with-data-2010-2020.min.js" type="text/javascript" charset="utf-8"></script-->
  <!--script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.4.0/moment-timezone.min.js" type="text/javascript" charset="utf-8"></script-->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>

  <!-- D3.js  -->
  <!--script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" type="text/javascript" charset="utf-8"></script-->
  <!--script src="http://d3js.org/d3.v3.min.js" type="text/javascript" charset="utf-8"></script-->
  <!--script src="/static/js/d3.min.js" type="text/javascript"></script-->
  <!--script src="http://d3js.org/topojson.v1.min.js" type="text/javascript"></script-->

  <!--=============== JS custom ===============-->
  <!--script src="/static/js/utils.js" type="text/javascript"></script-->

  <script src="/static/js/chartstock.js"></script>
  <script src="/static/js/jquery.cookie.js"></script>

  <script type="text/javascript">

    $(function() {
      'use strict';
      /*
      $("#explain_modal").click(function(){
        $('#modal_x').modal('show');
      });
      */
      var d = [12389,3.14];
      $.cookie("test", d);
    });
  </script>
  
  <script type="text/javascript">
    $(function () {
      
      var cookieValue = $.cookie("test");
      console.log(cookieValue);
      console.log(cookieValue[1]);
      
      /*
      var callback = function(_return /* The json returned for yahooapis */ /*) {
        /*
        var totalReturned = _return.query.count;
        //OR: var totalReturned = _return.query.results.quote.length;
        for (var i = 0; i < totalReturned; ++i) {
          var stock = _return.query.results.quote[i];
          var symbol = stock.symbol;
          var percent_change = stock.Change_PercentChange;
          var changeRealTime = stock.ChangeRealtime;
          ...
        }
      }
      
      var url = 'http://query.yahooapis.com/v1/public/yql';
      var startDate = '2012-01-01';
      var endDate = '2012-01-08';
      var data = encodeURIComponent('select * from yahoo.finance.historicaldata where symbol in ("YHOO","AAPL","GOOG","MSFT") and startDate = "' + startDate + '" and endDate = "' + endDate + '"');
      $.getJSON(url, 'q=' + data + "&env=http%3A%2F%2Fdatatables.org%2Falltables.env&format=json", callback);

      */
      
      $.getJSON('http://www.highcharts.com/samples/data/jsonp.php?filename=aapl-c.json&callback=?', function (data) {
        
        $('#graph_0_0').charts('StockChart', {

          title : {
            text : 'AAPL Stock Price',
            style: {"fontSize": "12px", },
            margin: 7,
          },

          series : [{
            name : 'AAPL',
            data : data,
            lineWidth: 1.2,
            tooltip: {
              valueDecimals: 2
            }
          }],
          
          plotOptions: {
            series: {
              lineWidth: 5,
            }
          },

          /*
          legend: {
            itemStyle: {
              color: '#000000',
              fontWeight: 'bold',
              fontSize: '15px'
          },
          */
          
          xAxis: {
            labels: {
              rotation: -45,
              style: {
                //color: 'red',
                fontSize:'9px',
              }
            },
            //categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
          },

          yAxis: {
            labels: {
              style: {
                fontSize:'9px'
              }
            }
          },
          
          rangeSelector : {
            selected : 5,
            enabled: false
            /*
            inputEnabled: false,
            buttonTheme: {
              visibility: 'hidden'
            },
            labelStyle: {
              visibility: 'hidden'
            }
            */
          },
          
          navigator: {
            height: 17,
            xAxis: {
              labels: {
                style: {
                  //color: '#6D869F',
                  //fontWeight: 'bold'
                  fontSize: '8px',
                },
              },
            },
          },
          
          tooltip: {
            /*
            //* crosshairs: true  //* only for hc
            crosshairs: {
                color: 'green',
                dashStyle: 'solid'
            },
            shared: true
            */
        },
          
        });
      });
    
    });
    
    /*
    Highcharts.theme = {
    chart: {
        zoomType: 'x'
    },
    plotOptions: {
        column: {
            borderColor: null,
            borderWidth: 1,
            borderRadius: 3,
            shadow: true
        },
        line: {
            lineWidth: 3,
            shadow: false,
            marker: {
                radius: 10
            }
        }
    },
    xAxis: {
        gridLineColor: '#ebebeb',
        lineColor: '#ebebeb',
        minorGridLineColor: '#ebebeb',
        tickColor: '#ebebeb',
        plotLines: [{
            color: '#ebebeb'
        }],
        showLastLabel: true,
        labels: {
            style: {
                color: '#525151',
                font: '12px Helvetica',
                fontWeight: 'bold'
            },
            formatter: function () {
                return this.value;
            }
        },
        title: {
            text: "TEST"
        }
    },
    yAxis: {
        gridLineColor: '#ebebeb',
        lineColor: '#ebebeb',
        minorGridLineColor: '#ebebeb',
        tickColor: '#ebebeb',
        plotLines: [{
            color: '#ebebeb'
        }],
        labels: {
            style: {
                color: '#525151',
                font: '12px Helvetica',
                fontWeight: 'bold'
            },
            formatter: function () {
                return this.value;
            }
        },
        title: {
            text: null
        }
    }
};

// Apply the theme
var highchartsOptions = Highcharts.setOptions(Highcharts.theme);
    */
  </script>

</body>
</html>

/*
animate automove crosshair
*/
$(function () {
    
    var someData = [];
    var maxY = -9999, minY = 9999;
    for (var i = 0; i < 60; i++)
    {
        var x = i;
        var y = Math.random() * 10;
        if (y < minY) minY = y;
        if (y > maxY) maxY = y;
        someData.push([x,y]);
    }
    
    chart = new Highcharts.Chart({
        chart: {
            renderTo: 'container'
        },
        xAxis: {
            minPadding: 0.05,
            maxPadding: 0.05
        },
        yAxis: {min: minY, max: maxY},        
        series: [{
            data: someData
        },
        {
            data: [[0,minY],[0,maxY]]
        }]
    });
    
    moveLine = function(){
       if (chart.series[1].data[0].x == 59){
          x = 0;
        }else{
          x = chart.series[1].data[0].x + 1;
        }
        chart.series[1].setData([[x,minY],[x,maxY]]);
       setTimeout(moveLine,1000);
    }

    setTimeout(moveLine,1000);
    
    
});