
<div class="card-block no-padding">
  <div id="" class="card card-default">

    <div class="card-header  ">
      <div class="card-title">News Analysis
      </div>
      <!--
      <div class="card-controls">
        <ul>
          <li>
            <div class="dropdown">
              <a id="card-settings" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                <i class="card-icon card-icon-settings "></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="card-settings">
                <a href="#" class="dropdown-item">API</a>
                <a href="#" class="dropdown-item">Preferences</a>
                <a href="#" class="dropdown-item">About</a>
              </div>
            </div>
          </li>
          <li><a href="#" class="card-collapse" data-toggle="collapse"><i class="card-icon card-icon-collapse"></i></a>
          </li>
          <li><a href="#" class="card-refresh" data-toggle="refresh"><i class="card-icon card-icon-refresh"></i></a>
          </li>
          <li><a href="#" class="card-maximize" data-toggle="maximize"><i class="card-icon card-icon-maximize"></i></a>
          </li>
          <li><a href="#" class="card-close" data-toggle="close"><i class="card-icon card-icon-close"></i></a>
          </li>
        </ul>
      </div>
      -->
    </div>

    <div class="card-block rak" id="causes-bitcoin-decline">
      <h2 class="semi-bold" style="margin-bottom:20px">What Causes Bitcoin To Decline?</h2>
      <img src="/static/images/fin/bitcoin_decline.png" alt="Bitcoin Decline" class="p-l-20 p-r-20 p-b-15">
      <div class="m-b-10"></div>
      <p>From the dizzying heights of its peak at $19,065.71, Bitcoin has fallen - some say crashed - to less than half its value.
        What has caused this precipitous decline? Many point to the classic theory of a bubble, such as <a href='https://en.wikipedia.org/wiki/Tulip_mania'>
        Tulip Mania</a>. What goes up must come down.
        But such explanations do not exactly explain the precise <em>mechanics</em> of an asset decline. According to
        <a href='https://www.frbsf.org/economic-research/publications/economic-letter/2018/may/how-futures-trading-changed-bitcoin-prices/'>
          The Federal Reserve Bank of San Francisco</a>, the answer lies in the introduction of futures derivatives in December of 2017.
          Bitcoin derivatives were launched by two American derivatives exchanges, the CME and CBOE, at the exact time of the start of the Bitcoin decline.
          The timing may not have been a coincidence.
      </p>
      <p> Why would this cause Bitcoin to fall? Before these contracts existed it was difficult to short cryptocurrencies - i.e., bet that the price would fall.
        With futures contracts, it is just as easy to short as it is to go long. Derivatives are contracts that are based on an underlying asset
        such as Bitcoin. There are derivatives for virtually every asset; e.g., stocks, gold, silver, soybean, pig, cattle, etc. They exist precisely for
        convenience that the underlying asset does not provide, such as going short.
      </p>
      <p> It's an interesting theory. The article does not mention other factors that may have impacted negatively due to futures. These derivatives tend to be traded by professionals,
        (hedge fund traders, institutions, fund managers, etc.) whereas retail investors (non-professionals) tend to trade the straight underlying asset, Bitcoin itself.
        Did the "smart money" <i>sell</i> into the rally?
      </p>
      <p> Derivatives are complicated, and the way they are used by professionals are even more so. Many fund traders use futures to hedge their porfolio.
        In other words even if funds have large short positions in the futures, that does not necessarily mean they want the price to go down.
        Often they are merely buying insurance in case of possible declines.
        The problem, however, arises when the underlying asset does fall, futures can aggravate that decline as computer programs automatically sell even more.
      </p>
      <p> It can be argued that before the advent of futures derivatives for Bitcoin, there was an inherent bias to buy or go long the coin.
        It is akin to market dynamics of making it easy to buy houses but difficult to sell. Once an avenue is created to not just sell easily
        but even easily bet on the decline, the rational market took over and the long bias removed.
      </p>

      <!--
      <div>
        <div class="profile-img-wrapper m-t-5 inline">
          <img width="35" height="35" data-src-retina="assets/img/profiles/avatar_small2x.jpg" data-src="assets/img/profiles/avatar_small.jpg" alt="" src="assets/img/profiles/avatar_small2x.jpg">
          <div class="chat-status available">
          </div>
        </div>
        <div class="inline m-l-10">
          <p class="small hint-text m-t-5">VIA senior product manage
            <br>for quantCypher</p>
        </div>
      </div>
      -->
    </div>
  </div>
</div>
