<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en-US">

<head>
  <title>DataSciencery - Predicting the Future</title>
  <meta name="description" content="News, Data Journalism, Data Science, Data Visualization">
  <meta name="news" content="yes">
  <meta name="data journalism" content="yes">
  <meta name="data science" content="yes">
  <meta name="Data Visualization" content="default">
  <!-- meta content="" name="author" -->

  {% include 'index_head_dia_prod.html' %}

  <style type="text/css">

  </style>

</head>


<body class="dashboard  body_fixed_padding" >

  {% include 'index_nav_datasciencery.html' %}

  <!-- =====================        MODALS        =========================  -->
  {% include 'index_modals.html' %}

  <!-- ================    MAIN - container after header    ================ -->
  <div class="page-container-fluid">
    <div class="page-content-wrapper">
      <div class="content sm-gutter">

        <!--
        <div data-pages="parallax">
          <div class=" container no-padding container-fixed-lg">
            <div class="inner" style="transform: translateY(0px); opacity: 1;">

            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>

            </div>
          </div>
        </div>
        -->

        <!-- ===================================================================
              MAIN CONTENT HERE !
             =================================================================== -->
        <div class="container-fluid sm-padding-8">
          <div class="row">
            <div class="col d-flex flex-column">
              <div class="card social-card share full-width m-b-5 no-border full-height" data-social="item">
              <!--div class= "card no-border widget-12 widget-loader-circle no-margin col ar-1-1 sm-vh-75"-->
                <row>
                  <div class="card-block d-flex flex-column full-height ">

                    <h1 class="m-t-5 art_title">Introducing <span style="font-size:36px">DataSciencery</span></h1>
                    <h2 class="art_titlesub" style="font-size: 2.0em !important">Predicting the Future<h2>

                    <div class="row">
                      <div class="col-2 col-sm-2 col-md-2">
                      </div>

                      <div class="col-8 col-sm-8 col-md-8">
                        <div class="article">
                          <p class="article_intro_big">AI Analysis of Markets, News, Pscyhology, and Health. To reveal the human behavior hiding in the data.
                          </p>
                          <div class="line_horizontal_fade">
                          </div>
                          <p>DataSciencery goes beyond the perfunctory qualitative analysis found in most market research.
                            Humans can be wrong and often are. DataSciencery hones in on the data unequivocally, sans bias. Then dices it with statistics and machine learning to reveal meaningful insight.
                          <p>

                          <!-- ===============  d3 chart or plot  =============== -->
                          <div id="div_plot_main" class="plot_d3 plot_d3_venn">
                          </div>
                          <p class="copywrite_plot" style="text-align: center;">DataSciencery.com</p>
                          <p class="hint_text_center">Hover over to interact. All graphs in DataSciencery feature user interaction.</p>
                          <!-- ===============  d3 chart or plot end  =============== -->
                          <p>
                          DataSciencery focuses on Science & Technology, Psychology & Health, Business & Finance, and News & Culture.
                          And delves into new areas that other data science has previously thought not possible.
                          </p>
                        </div>
                      </div>
                     </div>
                    <!-- MAIN CONTENT END -->
                  </div>
                </row>

            <!--/div-->
            </div>
           </div>
          </div>  <!-- row -->
        </div>  <!-- container-fluid -->

      </div>  <!-- content sm-gutter -->

      <!--  Very last bar - copyright stuff  -->
      {% include 'index_footer_datasciencery.html' %}

    </div>  <!--page-content-wrapper -->
  </div>  <!-- page-container -->

  <!-- =============    end:  MAIN - container after header    ============= -->


  <!-- ============================ JS scripts ============================= -->

  {% include 'index_tail_dia_prod.html' %}

  <!-- ===================  JS LIB for THIS TEMPLATE  ===================  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>
  <script src="/static/js/venn.js" type="text/javascript"></script>

  <!-- ===================  JS CUSTOM for THIS TEMPLATE  =================== -->
  <script>
    $(function(){
      app_visuably.plot_d3_venn_about_datasciencery();
    });
  </script>

</body>

</html>
