<div class="fixed-top">
  <!--div class="navbar navbar-dark bg-dark fixed-top navbar-expand-sm py-3"-->
  <!--nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"-->
  <!--nav class="navbar header md-header dark fixed-top" data-pages="header" data-pages-header="autoresize"
  style="height:100px; border-style: hidden;"-->
  <!--nav class="navbar navbar-expand-sm fixed-top header dark py-3" data-pages="header" data-pages-header="autoresize"-->
  <div class="navbar fixed-top header2 dark">

    <!--
    <a class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target=".navbar-collapse">☰</a>
    <a href="/" class="navbar-brand"></a>
    <ul class="nav navbar-nav">
        <li class="nav-item"><a href="#" class="nav-link">Link</a>
        </li>
    </ul>
    -->

    <div class="container">

      <div class="header2-inner justify-content-start  title-bar ">
        <a href="/">
          <div class="brand inline align-self-end nav_brand">
            <img src="/static/images/logo/hex5_50.png" alt="DataSciencery" data-src="/static/images/logo/hex5_50.png" data-src-retina="/static/images/logo/hex5_50.png">
          </div>
        </a>
        <a href="/">
          <div class="page_title">
            <span style="font-size:1.05em!important;">
              D</span>
            <span style="font-size:0.85em!important; margin-left:-5px">
              ATA</span>
            <span style="font-size:1.05em!important; margin-left:-3px">
              S</span>
            <span style="font-size:0.85em!important; margin-left:-4.9px">
              CIENCERY</span>
          </div>
        </a>

        <div style="position: relative; margin-left:auto; margin-right:0;">
          <button type="button" class="btn btn-sm btn-animated from-top fa fa-cubes" id="btn_followus"
              style="padding:0px 7px; font-size: 12.3px; color:rgb(227,227,227); background-color: rgb(43, 48, 59); border: none; font-weight: 500; font-family: montserrat; letter-spacing: -0.01em;">
            <span>Follow Us</span>
          </button>
          <button type="button" class="btn btn-sm  btn-animated from-top fa fa-envelope" id="btn_contact"
              style="padding:0px 8px; font-size: 12.3px; color:rgb(227,227,227); background-color: rgb(43, 48, 59); border: none; font-weight: 500; font-family: montserrat; letter-spacing: -0.01em;">
            <span>Contact</span>
          </button>
        </div>

      </div>

    </div>

  </div>
  <!-- end FIRST navbar -->

  <!--fixed-top header2-->
  <div class="navbar2 " id="second">
    <section>
      <div class="container-fluid " style="padding:0px 0px 0px 0px;">
        <div class="row  preview_height_fixed">
          <!-- 1/4 -->
          <div class="col-3 col-sm-3 col-md-3 no-padding hover-zoom-simple b-white b-l">
            <a href="/3D-line">
              <div class="container-xs-height full-height"
                   data-pages-bg-image="/static/images/chart_threed_liel_5b.png" data-bg-overlay="rgba(0,0,0,0.6)">
                <div class="col-xs-height col-middle full-width">
                  <div class="content-layer">
                    <div class="inner full-height">
                      <div class="container-xs-height full-height">
                        <div class="col-xs-height col-middle text-center p-t-50  _preview_header">
                          <h5 class="font-montserrat text-white all-caps-bold  preview_header">3-D COINS</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- col-md3 2/4 -->
          <div class="col-3 col-sm-3 col-md-3 no-padding hover-zoom-simple b-white  full-height">
            <a href="/datascience/">
              <div class="container-xs-height full-height " data-pages-bg-image="/static/images/fin/stock2b.jpg" data-bg-overlay="rgba(155, 174, 187, 0.5)">
                <div class="col-xs-height col-middle full-width full-height">
                  <div class="content-layer">
                    <div class="inner full-height">
                      <div class="container-xs-height full-height">
                        <div class="col-xs-height col-middle text-center p-t-50  _preview_header">
                          <h5 class="font-montserrat text-white all-caps-bold  preview_header">Data Science</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- 3/4 -->
          <div class="col-3 col-sm-3 col-md-3 no-padding hover-zoom-simple b-white ">
            <a href="/3D-volatility">
              <div class="container-xs-height full-height"
                   data-pages-bg-image="/static/images/chart_threed_volatility_1.png" data-bg-overlay="rgba(0,0,0,0.6)">
                <div class="col-xs-height col-middle full-width">
                  <div class="content-layer">
                    <div class="inner full-height">
                      <div class="container-xs-height full-height">
                        <div class="col-xs-height col-middle text-center p-t-50 _preview_header">
                          <h5 class="font-montserrat text-white all-caps-bold  preview_header">Volatility 3-D</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <!-- 4/4 -->
          <div class="col-3 col-sm-3 col-md-3 no-padding hover-zoom-simple b-white b-r">
            <a href="/correl_scatter">
              <div class="container-xs-height" data-pages-bg-image="/static/images/fin/statistics.png" data-bg-overlay="rgba(0,0,0,0.6)">
                <div class="col-xs-height col-middle full-width">
                  <div class="content-layer">
                    <div class="inner full-height">
                      <div class="container-xs-height full-height">
                        <div class="col-xs-height col-middle p-t-50 text-center _preview_header">
                          <h5 class="font-montserrat text-white all-caps-bold preview_header">Stocks Vs Cryptos</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>
    </section>
  </div>
  <!-- end SECOND navbar -->

</div>
