<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en-US">

{% include 'index_head_dia.html' %}

<body class="dashboard  body_fixed_padding" >

  {% include 'index_nav.html' %}

  <!-- ================    MAIN - container after header    ================ -->
  <div class="page-container-fluid">
    <div class="page-content-wrapper">
      <div class="content sm-gutter">

        <div class="container-fluid sm-padding-8">
          <div class="row">
            <div class="col d-flex flex-column">
              <!--div class= "card no-border widget-12 widget-loader-circle no-margin col ar-1-1 sm-vh-75"-->
              <div class="card social-card share full-width m-b-5 no-border full-height" data-social="item">
                <row>
                  <div class="card-block d-flex flex-column full-height ">
                    <h2 class="m-t-5" style="text-align: center">Top 10 Coins</h2>

                    <div id="div_plot_3d_ribbon" class="" style="margin-top:-15px;"></div>
                  </div>
                </row>
                <row>
                  <p class="hint_text_center">
                  Hold down and rotate the 3-D chart to view from different angles; e.g., 2-D side view, overhead view, etc.<br>
                  Scroll over the chart to zoom in and out.
                  <p>
                  <div class="article">
                    This 3-D chart shows the <em>change</em> in price of the top ten cryptocoins for the last 100 days.<br>
                    That is, if you were to have invested in any of these coins 100 days ago, the graph shows the performance of your investmment up to today. <br>
                    It can be clearly seen that EOS has had the most market interest lately.
                  </div>
                  </p>
                  <p>
                  </p>
                </row>

            <!--/div-->
            </div>
           </div>
          </div>  <!-- row -->
        </div>  <!-- container-fluid -->

      </div>  <!-- content sm-gutter -->

      <!--  Very last bar - copyright stuff  -->
      {% include 'index_footer.html' %}

    </div>  <!--page-content-wrapper -->
  </div>  <!-- page-container -->

  <!-- =============    end:  MAIN - container after header    ============= -->

  <!-- ==========================   JS scripts   =========================== -->

  {% include 'index_js_dia.html' %}

  <script>
    $(function() {
      /* app_quant.threed_ribbon.init(); */
    });
  </script>

</body>

</html>
