<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en-US">

<head>
  {% include 'index_head_dia_.html' %}

  <style type="text/css">
  </style>

</head>

<body class="dashboard body_fixed_padding">

  {% include 'index_nav.html' %}

  <!-- =====================        MODALS        =========================  -->
  {% include 'index_modals.html' %}

  <!-- ================    MAIN - container after header    ================ -->
  <div class="page-container-fluid">
    <div class="page-content-wrapper">
      <div class="content sm-gutter">

        <div class="container-fluid sm-padding-8">
          <div class="row">
            <div class="col d-flex flex-column">
              <div class="card social-card share full-width m-b-5 no-border" data-social="item">
              <!--div class="widget-12 card no-border widget-loader-circle no-margin col ar-1-1 sm-vh-75"-->
                <row>
                  <div class="card-block d-flex flex-column">
                  <!--div class="card-block"-->
                    <!-- Title of chart -->
                    <h2 class="m-t-5" style="text-align: center">Top 10 Coin Volatilities</h2>

                    <div id="div_plot_3d_volatility" style="margin-top:-15px"></div>

                  </div>
                </row>
                <row>
                  <p class="hint_text_center">
                  Hold down and rotate the 3-D chart to view from different angles; e.g., 2-D side view, overhead view, etc.<br>
                  Scroll over the chart to zoom in and out.
                  <p>
                  <div class="article">
                    This 3-D chart represents the volatility of the top ten cryptocoins.<br><br>
                    Volatility is how much the price goes up AND down, indicating the erratic and unstable nature of the asset. The more erratic the movement of price, the higher is the volatility. In contrast, a smoothly moving asset would have low volatility.
                    High volatility in general is bad for investment.<br><br>
                    This chart shows that the order of magnitude of movement is similar for most coins, with EOS currently having the highest volatility.
                  </div>

                </row>
            <!--/div-->
            </div>
           </div>
          </div>  <!-- row -->
        </div>  <!-- container-fluid -->

      </div>  <!-- content sm-gutter -->

      <!-- =========   end:  MAIN (after header, before footer)  ========== -->

      <!--  Very last bar - copyright stuff  -->
      {% include 'index_footer.html' %}

    </div>  <!--page-content-wrapper -->
  </div>  <!-- page-container -->


  <!-- ============================ JS scripts ============================= -->

  {% include 'index_tail_dia_.html' %}

  <script>
    $(function() {
      app_quant.threed_volatility.init();
    });
  </script>

</body>

</html>
