<div class="fixed-top">
  <!--div class="navbar navbar-dark bg-dark fixed-top navbar-expand-sm py-3"-->
  <!--nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"-->
  <!--nav class="navbar header md-header dark fixed-top" data-pages="header" data-pages-header="autoresize"
  style="height:100px; border-style: hidden;"-->
  <!--nav class="navbar navbar-expand-sm fixed-top header dark py-3" data-pages="header" data-pages-header="autoresize"-->
  <div class="navbar fixed-top py-4 header2 dark">

  <!--
  <a class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target=".navbar-collapse">☰</a>
  <a href="/" class="navbar-brand"></a>
  <ul class="nav navbar-nav">
      <li class="nav-item"><a href="#" class="nav-link">Link</a>
      </li>
  </ul>
  -->

  <div class="container">

    <div class="header2-inner justify-content-start header-lg-height title-bar ">
      <div class="brand inline align-self-end nav_brand">
        <img src="/static/images/logo/hex5_50.png" alt="QuantCypher" data-src="/static/images/logo/hex5_50.png" data-src-retina="/static/images/logo/hex5_50.png">
      </div>
      <div class="page_title">
        <span style="font-weight:600">quant</span><span style="font-weight:400">Cypher</span>
      </div>
    </div>

    <!--
    <div class="pull-right">
      <div class="menu-content clearfix" data-pages="menu-content" data-pages-direction="slideRight" id="header">
        <ul class="nav navbar-nav nav_menu">
          <li class="nav-item"><a href="#" class="nav-link">3-D COINS</a></li>
          <li class="nav-item"><a href="#" class="nav-link">CRYPTO CORRELATIONS</a></li>
          <li class="nav-item"><a href="#" class="nav-link">3-D VOLATILITY</a></li>
          <li class="nav-item"><a href="#" class="nav-link">STOCKS VS CRYPTOCURRENCIES</a></li>
        </ul>
      </div>
    </div>
  -->
  </div>

</div>
  <!-- end FIRST navbar -->

  <!--fixed-top header2-->
 <div class="navbar2 " id="second" >
   <section>
     <div class="container-fluid " style="padding:0">
       <div class="row preview_height_ preview_height_max ">
         <!-- col-md3 1/4 -->
         <div class="col-sm-6 col-md-3 no-padding hover-zoom-simple b-white b-r b-l ">
           <a href="/threed_ribbon">
             <div class="container-xs-height full-height "
                  data-pages-bg-image="/static/images/chart_threed_liel_3.png" data-bg-overlay="rgba(0,0,0,0.6)" >
               <div class="col-xs-height col-middle full-width">
                 <div class="content-layer">
                   <div class="inner full-height">
                     <div class="container-xs-height full-height ">
                       <div class="col-xs-height col-middle text-center p-t-70 preview_header">
                         <h5 class="font-montserrat all-caps-bold " style="color:rgb(255,255,255);" >3-D COINS</h5>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </a>
         </div>
         <!-- col-md3 2/4 -->
         <div class="col-sm-6 col-md-3 no-padding hover-zoom-simple b-white b-r b-l">
           <a href="/threed_ribbon">
           <div class="container-xs-height full-height " data-pages-bg-image="/static/images/biz_fin/stock2.jpg" data-bg-overlay="rgba(155, 174, 187, 0.5)" >
             <div class="col-xs-height col-middle full-width">
               <div class="content-layer">
                 <div class="inner full-height">
                   <div class="container-xs-height full-height ">
                     <div class="col-xs-height col-middle p-t-70 text-center preview_header">
                       <h5 class="font-montserrat text-white all-caps-bold ">Crypto Corrlelations</h5>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
           </a>
         </div>
         <!-- col-md3 3/4 -->
         <div class="col-sm-6 col-md-3 no-padding hover-zoom-simple b-white b-r b-l">
           <a href="/threed_ribbon">
           <div class="container-xs-height full-height " data-pages-bg-image="/static/images/chart_threed_mazs.png" data-bg-overlay="rgba(155, 174, 187, 0.1)">
             <div class="col-xs-height col-middle full-width">
               <div class="content-layer">
                 <div class="inner full-height">
                   <div class="container-xs-height full-height">
                     <div class="col-xs-height col-middle text-center p-t-70 preview_header">
                       <h5 class="font-montserrat text-white all-caps-bold ">Volatility 3-D</h5>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
           </a>
         </div>

         <!-- col-md3 4/4 -->
         <div class="col-sm-6 col-md-3 no-padding hover-zoom-simple b-white b-r b-l">
           <a href="/threed_ribbon">
           <div class="container-xs-height full-height " data-pages-bg-image="/static/images/biz_fin/statistics.png" data-bg-overlay="rgba(155, 174, 187, 0.5)" >
             <div class="col-xs-height col-middle full-width">
               <div class="content-layer">
                 <div class="inner full-height">
                   <div class="container-xs-height full-height ">
                     <div class="col-xs-height col-middle p-t-70 text-center preview_header">
                       <h5 class="font-montserrat text-white all-caps-bold ">Stocks and Cryptos</h5>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
           </a>
         </div>

       </div>
     </div>
   </section>
 </div>
 <!-- end SECOND navbar -->

</div>
