<div class="fixed-top">
  <!--div class="navbar navbar-dark bg-dark fixed-top navbar-expand-sm py-3"-->
  <!--nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"-->
  <!--nav class="navbar header md-header dark fixed-top" data-pages="header" data-pages-header="autoresize"
  style="height:100px; border-style: hidden;"-->
  <!--nav class="navbar navbar-expand-sm fixed-top header dark py-3" data-pages="header" data-pages-header="autoresize"-->
  <div class="navbar fixed-top header2 dark">

    <!--
    <a class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target=".navbar-collapse">☰</a>
    <a href="/" class="navbar-brand"></a>
    <ul class="nav navbar-nav">
        <li class="nav-item"><a href="#" class="nav-link">Link</a>
        </li>
    </ul>
    -->

    <div class="container">

      <div class="header2-inner_fixed justify-content-start  title-bar ">
        <a href="/">
          <div class="brand inline align-self-end nav_brand">
            <img src="/static/images/logo/hex5_50.png" alt="QuantCypher" data-src="/static/images/logo/hex5_50.png" data-src-retina="/static/images/logo/hex5_50.png">
          </div>
        </a>
        <a href="/">
          <div class="page_title">
            <span style="font-weight:600">quant</span><span style="font-weight:400">Cypher</span>
          </div>
        </a>
      </div>

    </div>

  </div>
  <!-- end FIRST navbar -->

  <!--fixed-top header2-->
  <div class="navbar2 " id="second">
    <section>
      <div class="container-fluid " style="padding:0px 0px 0px 0px;">
        <div class="row  preview_height_fixed">
          <!-- 1/4 -->
          <div class="col-3 col-sm-3 col-md-3 no-padding hover-zoom-simple b-white b-l">
            <a href="/threed_ribbon">
              <div class="container-xs-height full-height"
                   data-pages-bg-image="/static/images/chart_threed_liel_5b.png" data-bg-overlay="rgba(0,0,0,0.6)">
                <div class="col-xs-height col-middle full-width">
                  <div class="content-layer">
                    <div class="inner full-height">
                      <div class="container-xs-height full-height">
                        <div class="col-xs-height col-middle text-center p-t-50  _preview_header">
                          <h5 class="font-montserrat text-white all-caps-bold  preview_header">3-D COINS</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- col-md3 2/4 -->
          <div class="col-3 col-sm-3 col-md-3 no-padding hover-zoom-simple b-white b-r full-height">
            <a href="/threed_ribbon">
              <div class="container-xs-height full-height " data-pages-bg-image="/static/images/fin/stock2b.jpg" data-bg-overlay="rgba(155, 174, 187, 0.5)">
                <div class="col-xs-height col-middle full-width full-height">
                  <div class="content-layer">
                    <div class="inner full-height">
                      <div class="container-xs-height full-height">
                        <div class="col-xs-height col-middle text-center p-t-50  _preview_header">
                          <h5 class="font-montserrat text-white all-caps-bold  preview_header">Crypto Correlelations</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- 3/4 -->
          <div class="col-3 col-sm-3 col-md-3 no-padding hover-zoom-simple b-white b-r">
            <a href="/threed_ribbon">
              <div class="container-xs-height full-height" data-pages-bg-image="/static/images/chart_threed_mazs.png" data-bg-overlay="rgba(0,0,0,0.6)">
                <div class="col-xs-height col-middle full-width">
                  <div class="content-layer">
                    <div class="inner full-height">
                      <div class="container-xs-height full-height">
                        <div class="col-xs-height col-middle text-center p-t-50 _preview_header">
                          <h5 class="font-montserrat text-white all-caps-bold  preview_header">Volatility 3-D</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <!-- 4/4 -->
          <div class="col-3 col-sm-3 col-md-3 no-padding hover-zoom-simple b-white b-r">
            <a href="/threed_ribbon">
              <div class="container-xs-height" data-pages-bg-image="/static/images/fin/statistics.png" data-bg-overlay="rgba(0,0,0,0.6)">
                <div class="col-xs-height col-middle full-width">
                  <div class="content-layer">
                    <div class="inner full-height">
                      <div class="container-xs-height full-height">
                        <div class="col-xs-height col-middle p-t-50 text-center _preview_header">
                          <h5 class="font-montserrat text-white all-caps-bold preview_header">Stocks Vs Cryptos</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>
    </section>
  </div>
  <!-- end SECOND navbar -->

</div>
